asgiref==3.8.1
distlib==0.3.8
Django==5.0.4
filelock==3.13.1
mysql-connector-python==8.3.0
mysqlclient==2.2.4
platformdirs==4.2.0
PyMySQL==1.1.0
python-decouple==3.8
setuptools==69.1.1
sqlparse==0.4.4
virtualenv==20.25.1
wheel==0.42.0
