<style>
    .container-home {
        width: 60%;
        margin: auto;
        margin-top: 50px;
        text-align: center;
    }
    .links, .welcome {
        display: inline-block;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }
    .auth-links a {
        background-color: #555; /* Slightly different color for login/register */
    }
    .error {
        color: red;
        margin-bottom: 15px;
    }
    h1 {
        color: #333;
    }
</style>
{% extends "base.html" %}

{% block content %}
<div class="container-home">
    <h1>Welcome to Khoury Marketplace!</h1>
    <div class="auth-links">
        {% if user.is_authenticated %}
            <p class="welcome">Welcome, {{ user.username }}!</p>
            <a class="links" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="links" href="{% url 'login' %}">Login</a> | <a class="links" href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>
    <p>Use the links above to login or register.</p>
    <p>Once you are logged in, you can use the link 'Start Queries' to run queries on the database.</p>
    <a class="links" href="{% url 'run_query' %}">Start Queries</a>
</div>
{% endblock %}
